/* 
    COLOR PALETTE

        #4EA0FF header blue
        #20A9E5 table head blue
        #54BEEB credits blue
        #B1E5F2 table body blue
        #D7D7D7 light grey

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header_site {
    height: 5rem;
    background-color: #4EA0FF;
}

#background_logo {
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: contain;
    height: 5rem;
    width: 100%;   
}

#logo {
    height: 5rem;
    width: 200px;
}

#main_site{
    margin-top: 20px;
}

#title{
    font-size: 50px;
}

.subtitle {
    font-size: 25px;
    color: #D7D7D7;
}

#credits {
    font-size: 25px;
    color: #54BEEB;
}

#data {
    font-size: 18px;
    color: #D7D7D7;
    margin-bottom: 20px;
}

#photo_description{
    font-size: 12px;
    margin-bottom: 20px;
}